@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.search-field{
    width: 65%;
}
.phone-details{
    width: 60%;
}
#spinner {
    display: none;
}
  
#number-error,#empty-error {
    display: none;
} 
#unknown-error {
    display: none;
}
#load-more{
    display: none;
}  
@media only screen and (max-width: 688px) {

    .search-field{
        width: 100%;
    }
    .phone-details{
        width: 100%;
    }
}
